* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    max-height:100vh;
    height:100vh;
}

.box {
  overflow:hidden;
  width:100%;
  height:100%;
  position:relative;
}

.ball {
  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: mymove 4s infinite;
}

.box:hover p {
  opacity:1;
}


p {
  text-align: center;
  padding-bottom: 120px;
  text-transform: uppercase;
  font-size: 74px;
  opacity:0;
  transition:2s;
  margin-top:30px;
}



@keyframes mymove {
    0% {
      left:50%;
    }
    25% {
      left: calc(100% - 150px);
      border-radius: 0%;
      transform: rotate(-225deg);
      background-color:red;
    }
    50% {
      transform:rotate(50%);
      background-color:purple;
    }
    75% {
      left:75px;
      background-color:yellow;
    }
    100% {
      transform: translate(-50%, -50%);
      top:50%;
      left:50%;
      background-color:blue;
    }
}
